<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_style.css') }}">
</head>
<body>

    <div id="load">
      <img src="/static/css/images/loading.gif" alt="loading">
    </div>
    <!-- 로딩 완료 후 표시할 이미지를 숨겨둡니다. -->
    <img src="{{ url_for('static', filename='css/images/loading.gif') }}" alt="Your Image" id="loadedImage" style="display: none;">
    <script src="{{ url_for('static', filename='script.js') }}"></script>

    <div class="header">
        <h1>MovieFlix</h1>
        <h1 id="allMovie">모든 영화</h1>
        <input type="text" placeholder="Search...">
        <button id="logoutButton">Logout</button>
    </div>

    <div class="welcome">
        <h1>{{username}}님의 취향저격 베스트 콘텐츠</h1>
    </div>

    <div class="movie-posters">
        {% for movie in movies[:10] %}
            <div class="movie-poster" data_movie_id="{{ movie['ID'] }}">
                <img src="{{ movie.img }}" alt="{{ movie.id }} 이미지">
            </div>
        {% endfor %}
    </div>

    <script>
        document.getElementById('allMovie').addEventListener('click', function() {
            window.location.href = "{{ url_for('allMovie') }}";
        });

        document.getElementById('logoutButton').addEventListener('click', function() {
            window.location.href = "{{ url_for('start') }}";
        });

        document.querySelectorAll('.movie-poster').forEach(function(poster) {
            poster.addEventListener('click', function() {
                var movieId = this.getAttribute('data_movie_id');
                showMovieDetails(movieId);
            });
        });

        function showMovieDetails(movieId) {
            // 클릭한 영화의 상세 정보 페이지로 이동
            window.location.href = "{{ url_for('movieDetails', data_movie_id='1') }}" + movieId;
        }

        document.addEventListener("DOMContentLoaded", function() {
          const loading_page = document.getElementById("load");

          // Show loading page
          loading_page.style.display = 'block';

          // Hide loading page after 5 seconds
          setTimeout(function() {
            loading_page.style.display = 'none';
          }, 1000); // 5000 milliseconds = 5 seconds
        });
    </script>

</body>
</html>
