<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/movie_detail_modal_style.css') }}">
    <!-- jQuery 먼저 로드 -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- 부트스트랩 CSS 링크 추가 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- 부트스트랩 JS 로드 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="modal-header bg-dark text-white">
        <h4 class="modal-title">영화 정보</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body bg-dark text-white">
        <img src="{{ movie.img }}" alt="{{ movie.title }} 이미지" style="max-width: 100%;">

        <form method="post">
            {% if liked %}
                <button type="submit" class="like-button liked" name="like_action">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                    </svg>
                </button>
            {% else %}
                <button type="submit" class="like-button" name="like_action">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                      <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                    </svg>
                </button>
            {% endif %}
        </form>

        <p>제목: {{ movie.title }}</p>
        <p>장르: {{ movie.genre }}</p>
        <p>감독: {{ movie.director }}</p>
        <p>배우: {{ movie.actor }}</p>
        <p>시놉시스: {{ movie.synopsis }}</p>
    </div>

    <div class="modal-footer bg-dark text-white">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
    </div>

    <script>
        $(document).ready(function() {
            $(document).on('click', '.like-button', function() {
                $('form').submit();
            });
        });
    </script>

</body>

</html>
