<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>선호하는 장르 선택</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/my_favorite_genre.css') }}">
</head>
<body>
    <div class="header">
        <h1 >선호하는 장르 선택</h1>
    </div>
    <form method="post" action="{{ url_for('select_preferred_genres') }}" class="grid-container">

        {% for genre in genres %}
            <label class="GFG" >
                <input type="checkbox" name="genre" value="{{ genre }}"  /> {{ genre }}
            </label><br>
        {% endfor %}
        <br>
        <button type="submit">Next</button>

    </form>

</body>
</html>
